.d-{
  &flex {
    display: flex;
  }
  &iflex {
    display: inline-flex;
  }
  &block {
    display: block;
  }
  &none {
    display: none;
  }
}

.f-{
  &jc{
    &s{
      justify-content: flex-start;
    }
    &c{
      justify-content: center;
    }
    &e{
      justify-content: flex-end;
    }
    &sb{
      justify-content: space-between;
    }
    &sa{
      justify-content: space-around;
    }
  }

  &ai{
    &s{
      align-items: flex-start;
    }
    &c{
      align-items: center;
    }
    &e{
      align-items: flex-end;
    }
  }

  //wrap column
  &ww{
    flex-wrap: wrap;
  }
  &wr{
    flex-wrap: wrap-reverse;
  }
  &dc{
    flex-direction: column;
  }

  // ------

  &basis {
    &300 {
      flex-basis: 300px;
    }
  }
  &grow1 {
    flex-grow: 1;
  }
}

