@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import "fonts";
@import "nullstyle";
@import "variables";
@import "mixins";

body {
  height: 100%;
  font-family: 'Conv_Judson', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Quando', serif;
  margin-bottom: 10px;
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*
.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.jc {
  &sb {
    justify-content: space-between;
  }
  &sa {
    justify-content: space-around;
  }
}
*/

.p {
  padding: 10px;
}

.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}

.fs20 {
  font-size: 20px;
}
.fgrey {
  color: gray;
}

.tal {
  text-align: left;
}

.border1 {
  border: 1px solid green;
}

